<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <style>
        body {
            background-image: linear-gradient(to bottom right, rgba(255,4,4,1) 0%, rgba(24,199,0,1) 100%);
            background-attachment: fixed; /* This will keep the gradient fixed when scrolling */
            background-size: cover; /* This will make sure the gradient covers the entire window */
            margin: 0;
            padding: 0;
        }

    </style>

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div><br>
        <div class="navbar">
            <div class="col-sm-1.5">
                <a href="{{ url_for('load_home') }}"><img src="{{ url_for('static', filename='home_img.png') }}" alt="Return Home" width="75" height="75"></img></a>
            </div>
            
            <div class="col-sm-8">
                <h1 class="name">ButtonSmasher</h1>
            </div>

            <div class="col-sm"> 
                <strong><nav class="nav">
                    <p><a href="{{ url_for('load_home') }}">Home</a> <a href="{{ url_for('load_about') }}">About</a></p>
                </nav></strong>
            </div>
        </div>
    </div>


    {% block content %}
    {% endblock %}    

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  </body>
</html>