<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smash That Dang Button!</title>
    <link rel="stylesheet" >
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {{ bootstrap.load_css() }}
</head>

<body>
    {{ bootstrap.load_js() }}
    <header>
        <div class="head">
            <h1 class="name">ButtonSmasher</h1>
            <strong><nav class="nav">
                    <p><a href="{{ url_for('load_home') }}">Home</a>    <a href="{{ url_for('load_about') }}">About</a></p>
                    <p></p>
            </nav></strong>
        </div>

    </header>
    <div class="scores">
        <h3>15 Second Scores</h3>
        <ul class="15_scores_list">
            {% if list15|length == 0 %}
                <p> There are no scores for this duration.  Please play a round. </p>
            {% else %}
                {% for li in list15 %}                
                    <li>{{li}}</li>
                {% endfor %}
            {% endif %}
        </ul>

        <h3>30 Second Scores</h3>
        <ul class="30_scores_list">
            {% if list30|length == 0 %}
                <p> There are no scores for this duration.  Please play a round. </p>
            {% else %}
                {% for li in list30 %}                
                    <li>{{li}}</li>
                {% endfor %}
            {% endif %}
        </ul>
        <a href="{{ url_for('load_home') }}"><button>Refresh</button></a>

    </div>
</body>
</html>