{% extends "base.html" %}
{% block title %} Smash That Dang Button!{% endblock %}
{% block content %}
<div class="container">
    <h3>15 Second Scores</h3>
    <ul class="15_scores_list">
        {% if list15|length == 0 %}
            <p> There are no scores for this duration.  Please play a round. </p>
        {% else %}
            {% for li in list15 %}  
                <li>{{li}}</li>      
            {% endfor %}
        {% endif %}
    </ul>
</div>

<div class="container">
    <h3>30 Second Scores</h3>
    <ul class="30_scores_list">
        {% if list30|length == 0 %}
            <p> There are no scores for this duration.  Please play a round. </p>
        {% else %}
            {% for li in list30 %}                
                <li>{{li}}</li>
            {% endfor %}
        {% endif %}
    </ul>
</div>

<div class="container">
    <a href="{{ url_for('load_home') }}"><button>Refresh</button></a>
</div>
{% endblock %}